@model prycarrito2.mvc.Models.TBL_PRODUCTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TBL_PRODUCTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pro_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_preciocompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_preciocompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_precioventa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_precioventa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_stockminimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_stockminimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_stockmaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_stockmaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_fechacreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_fechacreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_CATEGORIA.cat_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_CATEGORIA.cat_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pro_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
